@charset 'UTF-8';
.container {
  width: 1226px;
  padding: 0;
}
#header {
  border-bottom: 2px solid orangered;
  height: 100px;
}
#header .logo {
  width: 48px;
  height: 48px;
  margin: 26px 45px 0 0;
  float: left;
}
#header .logo .icon {
  width: 48px;
  height: 48px;
}
#header .text-title {
  float: left;
  margin-top: 26px;
}
#header .text-title * {
  float: left;
}
#header .text-title p {
  margin: 20px 0 0 15px;
  color: #757575;
  font-size: 12px;
}
#header .myinformation {
  float: right;
  margin-top: 30px;
  line-height: 40px;
  color: #757575;
}
#header .myinformation a {
  text-decoration: none;
  color: #757575;
  font-size: 12px;
}
#header .myinformation a:hover {
  color: darkorange;
}
main {
  background-color: #f5f5f5;
  padding: 38px 0 100px 0;
}
main .container.hasgoods {
  background: white;
}
main .container.hasgoods > div {
  height: 70px;
}
main .container.hasgoods > div:not(:first-of-type) {
  height: 86px !important;
  line-height: 86px !important;
}
main .container.hasgoods > div:not(:first-of-type) > div {
  height: 86px !important;
  line-height: 86px !important;
}
main .container.hasgoods > div:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
main .container.hasgoods > div > div {
  float: left;
  line-height: 70px;
  font-size: 14px;
}
main .container.hasgoods > div > div:first-of-type {
  width: 110px;
}
main .container.hasgoods > div > div:first-of-type input {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-left: 24px;
  vertical-align: middle;
}
main .container.hasgoods > div > div:nth-of-type(2) {
  width: 120px;
  height: 100%;
}
main .container.hasgoods > div > div:nth-of-type(2) img {
  width: 80px;
  height: 80px;
}
main .container.hasgoods > div > div:nth-of-type(3) {
  width: 380px;
}
main .container.hasgoods > div > div:nth-of-type(4) {
  width: 158px;
  padding-right: 18px;
}
main .container.hasgoods > div > div:nth-of-type(5) {
  width: 150px;
  text-align: center;
}
main .container.hasgoods > div > div:nth-of-type(6) {
  width: 201px;
  padding-right: 81px;
  text-align: right;
}
main .container.hasgoods > div > div:nth-of-type(7) {
  width: 80px;
  text-align: center;
}
main .container.hasgoods > div:first-of-type > div {
  font-size: 14px;
}
main .container.clearfix.empty {
  display: none;
}
main .container.clearfix.empty div {
  width: 50%;
  height: 273px;
  float: left;
  margin: 65px 0 130px;
}
main .container.clearfix.empty div:first-of-type {
  background: url(../images/cart-empty.png) no-repeat 50%;
}
main .container.clearfix.empty div:last-of-type h2 {
  font-size: 36px;
  color: #b0b0b0;
  font-weight: bold;
  margin-top: 70px;
}
main .container.clearfix.empty div:last-of-type button {
  width: 172px;
  height: 50px;
  background: orange;
  color: white;
  outline: none;
  border: none;
  margin-top: 15px;
  transition: all 0.3s;
}
main .container.clearfix.empty div:last-of-type button:hover {
  background: orangered;
}
footer a {
  text-decoration: none;
  color: #757575;
  font-size: 12px;
}
footer a:hover {
  color: darkorange;
}
footer .linkbar {
  padding: 40px 0;
}
footer .linkbar > ul {
  padding: 0;
  list-style: none;
  float: left;
  width: 160px;
}
footer .linkbar > ul:last-of-type {
  margin: -1px 0 26px;
  font-size: 14px;
  float: right;
  width: 252px;
  text-align: center;
  border-left: 1px solid #e0e0e0;
}
footer .linkbar > ul:last-of-type li:first-of-type {
  color: #ff6700;
  font-size: 22px;
  margin: 0;
}
footer .linkbar > ul:last-of-type li:nth-of-type(3) a {
  display: block;
  width: 120px;
  height: 30px;
  border: 1px solid darkorange;
  line-height: 30px;
  color: darkorange;
  margin: auto;
  transition: all 0.3s;
}
footer .linkbar > ul:last-of-type li:nth-of-type(3) a:hover {
  color: white;
  background-color: darkorange;
  transition: all 0.3s;
}
footer .linkbar > ul:last-of-type .binacode {
  width: 126px;
  height: 126px;
  display: none;
  position: absolute;
  left: calc(50% - 58px);
}
footer .linkbar > ul li {
  position: relative;
  font-size: 12px;
  margin-top: 10px;
}
footer .linkbar > ul li:first-of-type {
  margin: -1px 0 26px;
  font-size: 14px;
}
footer .linkbar > ul li a {
  color: #757575;
}
footer .linkbar > ul li a:hover {
  color: darkorange;
}
footer .service {
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;
}
footer .service ul {
  list-style: none;
  display: flex;
  height: 25px;
}
footer .service ul li {
  width: 20%;
}
footer .service ul li:not(:last-of-type) {
  border-right: 1px solid #e0e0e0;
}
footer .service ul li a {
  justify-content: center;
  height: 25px;
  align-items: flex-start;
  color: #616161;
  display: flex;
}
footer .service ul li a:hover {
  color: darkorange;
}
footer .service ul li a span {
  font-size: 24px;
  line-height: 24px;
}
footer .service ul li a h3 {
  font-size: 18px;
  font-weight: lighter;
}
.icon {
  width: 56px;
  height: 56px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icon:hover {
  position: relative;
  left: 0.5px;
}
.final {
  background: #fafafa;
  padding: 30px 0;
}
.final a {
  text-decoration: none;
  color: #757575;
  font-size: 12px;
}
.final a:hover {
  color: darkorange;
}
.final .container.one {
  position: relative;
}
.final p {
  margin: 0;
}
.final .boon {
  height: 19px;
  margin-top: 30px;
  background: url(../images/发烧而生.png) no-repeat center;
}
.final .phtext {
  padding-left: 67px;
}
.final .phtext img {
  margin-bottom: 15px;
  width: 83px;
}
.final .logo {
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  margin-right: 10px;
  position: absolute;
}
.final .text {
  line-height: 18px;
  color: #757575;
  font-size: 12px;
  padding-left: 67px;
}
.final .text a:hover {
  color: darkorange;
}
.final .text p:nth-of-type(3),
.final .text p:nth-of-type(4),
.final .text p:nth-of-type(5),
.final .text p:nth-of-type(6) {
  color: #b0b0b0;
}
.final .text p:nth-of-type(3) a,
.final .text p:nth-of-type(4) a,
.final .text p:nth-of-type(5) a,
.final .text p:nth-of-type(6) a {
  color: #b0b0b0;
}
.final .text p:nth-of-type(3) a:hover,
.final .text p:nth-of-type(4) a:hover,
.final .text p:nth-of-type(5) a:hover,
.final .text p:nth-of-type(6) a:hover {
  color: darkorange;
}
.final .text a {
  color: #757575;
}
