@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1626174368883') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-f:before {
  content: "\e605";
}

.icon-shoujichongzhi:before {
  content: "\e76f";
}

.icon-erweima-copy:before {
  content: "\e502";
}

.icon-gou:before {
  content: "\e68c";
}

.icon-jianzhu:before {
  content: "\e642";
}

.icon-yanjing:before {
  content: "\e503";
}

.icon-time1:before {
  content: "\e703";
}

.icon-left:before {
  content: "\e501";
}

.icon-customer-unvisited:before {
  content: "\e621";
}

.icon-shoujika:before {
  content: "\e69c";
}

.icon-yuanquan:before {
  content: "\e608";
}

.icon-qian:before {
  content: "\e740";
}

.icon-xiaomixinLogo:before {
  content: "\e623";
}

.icon-yanjing1:before {
  content: "\e628";
}

.icon-fangdajing:before {
  content: "\e654";
}

.icon-gouwuche:before {
  content: "\e604";
}

.icon-xin:before {
  content: "\e61a";
}

.icon-you:before {
  content: "\e697";
}

